src/main/resources/schema/generated.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="FormPatterns">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="FormPattern"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FormPattern">
    <xs:complexType>
      <xs:choice minOccurs="0">
        <xs:element ref="FormPatternProducts"/>
        <xs:sequence>
          <xs:element ref="GenericInferenceClass"/>
          <xs:element ref="InferenceTime"/>
          <xs:element ref="InternalGroupCode"/>
          <xs:element ref="InternalReissueOnChange"/>
          <xs:element ref="InternalRemovalEndorsement"/>
          <xs:element ref="Lookups"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="ClausePatternCode"/>
          <xs:element ref="Code"/>
          <xs:element ref="CovSysTableValueExistsOnAll"/>
          <xs:element ref="CoverableSysTable"/>
          <xs:element ref="CoverableType"/>
          <xs:element ref="CoverableTypeKey"/>
          <xs:element ref="CoverableTypeKeyExistsOnAll"/>
          <xs:element ref="CoverableTypeKeys"/>
          <xs:element ref="CoverableTypeList"/>
          <xs:element ref="Description"/>
          <xs:element ref="Description_L10N_ARRAY"/>
          <xs:element ref="Edition"/>
          <xs:element ref="EndorsementNumbered"/>
          <xs:element ref="FormNumber"/>
          <xs:element ref="FormPatternAdditionalInsuredTypes"/>
          <xs:element ref="FormPatternAdditionalInterestTypes"/>
          <xs:element ref="FormPatternClauseCodes"/>
          <xs:element ref="FormPatternCovTerms"/>
          <xs:element ref="FormPatternCoverableProperties"/>
          <xs:element ref="FormPatternCoveragePartTypes"/>
          <xs:element ref="FormPatternJobs"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="PatternExistsOnAll"/>
          <xs:element ref="PolicyLinePatternCode"/>
          <xs:element ref="Priority"/>
          <xs:element ref="RefCode"/>
          <xs:element ref="RemovalEndorsementFormNumber"/>
          <xs:element ref="UseInsteadOfCode"/>
        </xs:sequence>
      </xs:choice>
      <xs:attribute name="public-id" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="FormPatternProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="FormPatternProduct"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FormPatternProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FormPattern"/>
        <xs:element ref="ProductCode"/>
      </xs:sequence>
      <xs:attribute name="public-id" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductCode" type="xs:NCName"/>
  <xs:element name="GenericInferenceClass" type="xs:string"/>
  <xs:element name="InferenceTime" type="xs:NCName"/>
  <xs:element name="InternalGroupCode" type="xs:string"/>
  <xs:element name="InternalReissueOnChange" type="xs:boolean"/>
  <xs:element name="InternalRemovalEndorsement" type="xs:boolean"/>
  <xs:element name="Lookups">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="FormPatternLookup"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FormPatternLookup">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Availability"/>
        <xs:element ref="EndEffectiveDate"/>
        <xs:element ref="FormPattern"/>
        <xs:element ref="Jurisdiction"/>
        <xs:element ref="StartEffectiveDate"/>
        <xs:element ref="UWCompanyCode"/>
      </xs:sequence>
      <xs:attribute name="public-id" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Availability" type="xs:NCName"/>
  <xs:element name="EndEffectiveDate">
    <xs:complexType/>
  </xs:element>
  <xs:element name="Jurisdiction" type="xs:string"/>
  <xs:element name="StartEffectiveDate" type="xs:string"/>
  <xs:element name="UWCompanyCode">
    <xs:complexType/>
  </xs:element>
  <xs:element name="ClausePatternCode" type="xs:string"/>
  <xs:element name="Code" type="xs:string"/>
  <xs:element name="CovSysTableValueExistsOnAll">
    <xs:complexType/>
  </xs:element>
  <xs:element name="CoverableSysTable">
    <xs:complexType/>
  </xs:element>
  <xs:element name="CoverableType">
    <xs:complexType/>
  </xs:element>
  <xs:element name="CoverableTypeKey">
    <xs:complexType/>
  </xs:element>
  <xs:element name="CoverableTypeKeyExistsOnAll" type="xs:string"/>
  <xs:element name="CoverableTypeKeys">
    <xs:complexType/>
  </xs:element>
  <xs:element name="CoverableTypeList">
    <xs:complexType/>
  </xs:element>
  <xs:element name="Description" type="xs:string"/>
  <xs:element name="Description_L10N_ARRAY">
    <xs:complexType/>
  </xs:element>
  <xs:element name="Edition" type="xs:string"/>
  <xs:element name="EndorsementNumbered" type="xs:boolean"/>
  <xs:element name="FormNumber" type="xs:string"/>
  <xs:element name="FormPatternAdditionalInsuredTypes">
    <xs:complexType/>
  </xs:element>
  <xs:element name="FormPatternAdditionalInterestTypes">
    <xs:complexType/>
  </xs:element>
  <xs:element name="FormPatternClauseCodes">
    <xs:complexType/>
  </xs:element>
  <xs:element name="FormPatternCovTerms">
    <xs:complexType/>
  </xs:element>
  <xs:element name="FormPatternCoverableProperties">
    <xs:complexType/>
  </xs:element>
  <xs:element name="FormPatternCoveragePartTypes">
    <xs:complexType/>
  </xs:element>
  <xs:element name="FormPatternJobs">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="FormPatternJob"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FormPatternJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FormPattern"/>
        <xs:element ref="JobType"/>
      </xs:sequence>
      <xs:attribute name="public-id" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="JobType" type="xs:NCName"/>
  <xs:element name="PatternExistsOnAll" type="xs:boolean"/>
  <xs:element name="PolicyLinePatternCode" type="xs:string"/>
  <xs:element name="Priority" type="xs:integer"/>
  <xs:element name="RefCode">
    <xs:complexType/>
  </xs:element>
  <xs:element name="RemovalEndorsementFormNumber">
    <xs:complexType/>
  </xs:element>
  <xs:element name="UseInsteadOfCode" type="xs:string"/>
</xs:schema>
